<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content">
    <ion-card class="agaknaik">
      <ion-card-content  class="tengah_atasberjarak">
        <div id="frame">
          <ion-avatar id="myAvatar">
            <ion-img src="https://i.pravatar.cc/300?img=15"></ion-img>
          </ion-avatar>
        </div>
        Dustin Delroy<br>
        Jurusan Informatika UBAYA<br>
        Raya Kalirungkut Surabaya
      </ion-card-content>
    </ion-card>

    <a routerLink="team">Team</a>
    <br>
    <a routerLink="history">History</a>
  </div>
</ion-content>
