<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-input labelPlacement="floating" label="Masukkan URL : " [(ngModel)]="url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-img [src]="url"></ion-img>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Masukkan Password : " [(ngModel)]="password"
        (keyup)="checkPassword()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox labelPlacement="end" justify="start" [checked]="isMoreThan6Char" disabled>More than 6
        Characters</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox labelPlacement="end" justify="start" [checked]="isContainNumber" disabled>Include
        Number</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox labelPlacement="end" justify="start" [checked]="isIncludeSpecialChar" disabled>Include special
        characters(!&#64;$%^&*)</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>